## Loops or Iterations or Repitions
    - To execute a statement of n number of statements for n number of times
    - for => known ranges
    - while => known and unknown ranges

## For
    Syntax:
        for iterationvariablename in range(start,stop,step):
            //statements
                    or
        for iterationvarialbename in iterator:
            //statements
            
        Itreator => List,Tuple,Set and Dictionary

## range:

    - range(stop):
        => By default it starts with 0
        => By default it increments with +1
        => It stops value at stop-1 value
        Ex:
            range(6)
                0 1 2 3 4 5
    - range(start,stop):
        => It exactly starts with start value
        => By default it increments with +1 value
        => It stops with stop-1 value
        Ex:
            range(2,10)
                2 3 4 5 6 7 8 9
    - range(start,stop,step):
        => It exactly starts with start value
        => It increments/decrements with step value
        => It stops with stop-1 value
        Ex:
            range(5,10,3)
                5 8

In [4]:
n = int(input("Enter a range: "))
for i in range(n):
    print(i,end=" ")

Enter a range: 5
0 1 2 3 4

In [5]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [6]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [7]:
h = int(input("Enter a range: "))
for j in range(h):
    print(j+1,end=" ")

Enter a range: 5
1 2 3 4 5

```
    Task:
    =====
        Input:
            8
        Output:
            2,-1,2,-1,2,-1,2,-1,
```

In [8]:
m = int(input())
for i in range(m):
    if i%2==0:
        print("2",end=",")
    else:
        print("-1",end=",")

8
2,-1,2,-1,2,-1,2,-1,

In [9]:
n = int(input("Enter Starting range: "))
m = int(input("Enter Ending range: "))
for i in range(n,m):
    print(i,end=" ")

Enter Starting range: 10
Enter Ending range: 20
10 11 12 13 14 15 16 17 18 19

In [11]:
n = int(input("Enter Starting range: "))
m = int(input("Enter Ending range: "))
for i in range(n,m):
    print(n+m-i-1,end=" ")

Enter Starting range: 10
Enter Ending range: 20
19 18 17 16 15 14 13 12 11 10

```
    Task:
    =====
        Input:
            10
            20
            5
        Output:
            10 15
        
        Input:
            5
            10
            3
        Output:
            6 9
```

In [15]:
n = int(input())
m = int(input())
k = int(input())
for i in range(n,m):
    if i%k==0:
        print(i,end=" ")

5
10
3
6 9

```
    Task:
    =====
        Input:
            5
            12
        Output:
            05    11
            06    10
            07    09
            08    08
            09    07
            10    06
            11    05
```

In [20]:
n = int(input())
m = int(input())
for i in range(n,m):
    print(f"{i:02}\t{n+m-i-1:02}")

5
12
05	11
06	10
07	09
08	08
09	07
10	06
11	05

In [25]:
n = int(input("Enter Start range: "))
m = int(input("Enter End range: "))
k = int(input("Enter Step range: "))
for i in range(n,m,k):
    print(i,end=" ")

Enter Start range: 20
Enter End range: -10
Enter Step range: -2
20 18 16 14 12 10 8 6 4 2 0 -2 -4 -6 -8

## While:
    Syntax:
        initialization
        while condition:
            //statements
            incr/decr

In [28]:
i = 0
n = int(input("Enter a range: "))
while i<n:
    print(i,end=" ")
    i+=1

Enter a range: 5
0 1 2 3 4

In [30]:
n = int(input("Enter a range: "))
while n!=0:
    n-=1
    print(n,end=" ")

Enter a range: 5
4 3 2 1 0

In [36]:
k = int(input("Enter a number: "))
m = 0
print(f"Entered number is: {k}" 
      " and its reverse is: ",end="")
while k!=0:
    m = m*10+k%10
    k//=10
print(m)

Enter a number: 4568
Entered number is: 4568 and its reverse is: 8654

In [32]:
k//10

4789

## Jumping Statements:
    - break => It exists from a loop
    - continue => It skips a value from a loop
    - pass => It works like continue but for future enhancements we can use pass
    - return => It returns single or n number of values

In [38]:
n = int(input("Enter a range: "))
for i in range(n):
    if i == 4:
        break
    else:
        print(i,end=" ")

Enter a range: 500
0 1 2 3

In [39]:
n = int(input("Enter a range: "))
for i in range(n):
    if i == 4:
        continue
    else:
        print(i,end=" ")

Enter a range: 10
0 1 2 3 5 6 7 8 9

In [40]:
n = int(input("Enter a range: "))
for i in range(n):
    if i == 4 or i == 10 or i == 15:
        continue
    else:
        print(i,end=" ")

Enter a range: 20
0 1 2 3 5 6 7 8 9 11 12 13 14 16 17 18 19

In [41]:
n = int(input("Enter a range: "))
for i in range(n):
    if i == 4:
        pass
    else:
        print(i,end=" ")

Enter a range: 10
0 1 2 3 5 6 7 8 9

In [42]:
n = int(input("Enter a range: "))
for i in range(n):
    if i == 4:
        pass
    print(i,end=" ")

Enter a range: 10
0 1 2 3 4 5 6 7 8 9

## Nested Loop or Inner Loop
    - Loop within a Loop

In [47]:
n = int(input("Enter a range: "))
for i in range(n):
    for j in range(n):
        print(f"{i}{j}",end=" ")
    print()

Enter a range: 5
00 01 02 03 04
10 11 12 13 14
20 21 22 23 24
30 31 32 33 34
40 41 42 43 44