## Styling Text

**Example for Bold**
__Next Example for Bold__

*Example for Italic*
_Next Eaxmple for Italic_

***All Bold and Italic***

**All bold and *Nested* Italic**

~~Example for Strike through~~

## Quoting Text
> Example for Quoting Text

## Quoting Code

```Chapter-1
Chapter-2```

```Chapter-1 Chapter-2```

This is an Example for ``Quoting Code``

## Links

Example for Links

College Link [Click Here](https://www.sseptp.org/)

## Relative Link

Demo Python File [View](demo.py)

Image [View](sample.jpeg)

## Images:

![View](sample.jpeg)

![Click]()

In [2]:
a = 45
b = 20
print(a and b)
print(b and a)
print(a & b)

20
45
4

In [3]:
print(a or b)
print(b or a)
print(a | b)

45
20
61

In [4]:
import keyword

In [5]:
print(dir(keyword))

['__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'iskeyword', 'issoftkeyword', 'kwlist', 'softkwlist']

In [7]:
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
36

## Coditional Statements:
    - To Check Whether given condition is Either True or False
    - if => single case
    - if-else => 2 cases
    - nested if => 3 or more cases
    - elif => 3 pr more n number of cases but it executes based on preference

## If
    Syntax:
        if condition:
            //statements
        () => Optional Cases

In [12]:
a=int(input("Enter the number"))
if(a>10):
    print("Enter number is {} greater than 10".format(a))

Enter the number5

In [19]:
a=int(input("Enter the number"))
if a%2==0:
    print(f"Entered number {a} and 5x^3 is: {5*a**3}")

Enter the number2
Entered number 2 and 5x^3 is: 40

## if-else:
    Syntax:
        if condition:
            //statement-1
        else:
            //statement-2
        () => Optional

In [21]:
m = int(input("Enter a number: "))
if m%2==0:
    print(f"Entered number {m} is Even")
else:
    print(f"Entered number {m} is Odd")

Enter a number: 8
Entered number 8 is Even

```
    Task:
    ====
        Input:
            6
            2
            9
        Output:
            Entered number is: 6
            Expression of 4x^2+3y is: ?
        Input:
            3
            2
            7
        Output:
            Entered number is: 3
            Expression of 3x^2+10y^2 is:?
```

In [23]:
w=int(input("enter any number"))
x=int(input("enter any number"))
y=int(input("enter any number"))
if w%2==0:
    print("entered number is:{}".format(w))
    print("expression of 4x^2+3y is:{}".format(4*x**2+3*y))
else:
    print("entered number is:{}".format(w))
    print("expression of 3x^2+10y^2 is:{}".format(3*x**2+10*y**2))

enter any number6
enter any number2
enter any number9
entered number is:6
expression of 4x^2+3y is:43

## Nested If:
    Syntax:
        if Condition-1:
            if condition-2:
                //statement-1
            else:
                //statement-2
        else:
            //statement-n
        
        else = () => Optional Cases

```
    Input:
        Enter an Year: 2
    Output:
        Entered Year is 2nd year you are not belonging to 3rd Year
    
    Input:
        Enter an Year: 3
        Enter Branch: EEE
        Enter Name: Suresh
    Output:
        Entered Year is 3rd Year
        Entered Branch is EEE Your name is: Suresh
    
    Input:
        Enter an Year: 3
        Enter Branch: CSE
    Output:
        Entered Year is 3rd Year
        Entered Branch is CSE
```

In [31]:
a = int(input("Enter an Year: "))
if a == 3:
    b = input("Enter Branch: ")
    if b == "EEE" or b == "eee":
        n = input("Enter Name: ")
        print("Entered Year is 3rd Year")
        print(f"Entered Branch is EEE Your name is: {n}")
    else:
        print(f"Entered Branch is: {b}")
else:
    print(f"Entered Year is {a} Year not belonging to 3rd Year")

Enter an Year: 3
Enter Branch: eee
Enter Name: Dinesh
Entered Year is 3rd Year
Entered Branch is EEE Your name is: Dinesh

## Elif:
    Syntax:
        if condition-1:
            //statement-1
        elif condition-2:
            //statement-2
            |          |
        elif condition-n:
            //statement-n
        else:
            //statement-(n-2)

In [34]:
n = int(input("Enter a value: "))
if n>20 and n<50:
    print(f"Entered number {n} is in between range of 20 and 50")
elif n>20:
    print(f"Entered number {n} is Greater than 20")
else:
    print(f"Entered number {n} is Less than 20")

Enter a value: 10
Entered number 10 is Less than 20