## Function Argument Types
     - Default 
     - Keyword
     - Required or Positional
     - Variable Length
         - Arbitary Keyword
         - Arbitary Positional

In [2]:
## default Argument

def student(q,w,clg="SSE"):
    print(f"Entered Roll Number is: {q}")
    print(f"Entered Name is: {w}")
    print(f"College Code is: {clg}")
    return

rol = input("Enter Roll Number: ")
nm = input("Enter Name: ")
student(rol,nm)

Enter Roll Number: we345
Enter Name: Kiran
Entered Roll Number is: we345
Entered Name is: Kiran
College Code is: SSE

In [4]:
def student(q,w='Lalitha',clg="SSE"):
    print(f"Entered Roll Number is: {q}")
    print(f"Entered Name is: {w}")
    print(f"College Code is: {clg}")
    return

rol = input("Enter Roll Number: ")
# nm = input("Enter Name: ")
# student(rol,nm)
student(rol)

Enter Roll Number: j45
Entered Roll Number is: j45
Entered Name is: Lalitha
College Code is: SSE

In [5]:
def student(q='KE45',w='Suresh',clg="SSE"):
    print(f"Entered Roll Number is: {q}")
    print(f"Entered Name is: {w}")
    print(f"College Code is: {clg}")
    return

student()

Entered Roll Number is: KE45
Entered Name is: Suresh
College Code is: SSE

In [6]:
def student(q='KE45',w,clg="SSE"):
    print(f"Entered Roll Number is: {q}")
    print(f"Entered Name is: {w}")
    print(f"College Code is: {clg}")
    return

student()

SyntaxError: non-default argument follows default argument (1646815268.py, line 1)

In [8]:
def student(q='KE45',w='Suresh',clg="SSE"):
    print(f"Entered Roll Number is: {q}")
    print(f"Entered Name is: {w}")
    print(f"College Code is: {clg}")
    return

r = input("Enter Roll Number: ")
n = input("Enter Name: ")
c = input("Enter College Code: ")
student(r,n,c)

Enter Roll Number: W56
Enter Name: Yamini
Enter College Code: AITT
Entered Roll Number is: W56
Entered Name is: Yamini
College Code is: AITT

In [10]:
# Required or Positional Argument
def employee(s,y,p):
    print(f"Employee Id is: {s}")
    print(f"Employee Name is: {y}")
    print(f"Employee Salary is: {p}")
    return

ed = input("Enter Employee Id: ")
ename = input("Enter Employee Name: ")
employee(ed,ename)

Enter Employee Id: E34
Enter Employee Name: Prasad

TypeError: employee() missing 1 required positional argument: 'p'

In [11]:
def employee(s,y,p=25000):
    print(f"Employee Id is: {s}")
    print(f"Employee Name is: {y}")
    print(f"Employee Salary is: {p}")
    return

ed = input("Enter Employee Id: ")
ename = input("Enter Employee Name: ")
employee(ed,ename)

Enter Employee Id: E567
Enter Employee Name: Kalyan
Employee Id is: E567
Employee Name is: Kalyan
Employee Salary is: 25000

In [12]:
def employee(s,y):
    print(f"Employee Id is: {s}")
    print(f"Employee Name is: {y}")
    return

ed = input("Enter Employee Id: ")
ename = input("Enter Employee Name: ")
esal = input("Enter Employee Salary: ")
employee(ed,ename,esal)

Enter Employee Id: E3456
Enter Employee Name: Harish
Enter Employee Salary: 32000

TypeError: employee() takes 2 positional arguments but 3 were given

In [13]:
# Keyword Argument
def employee(y,s,p):
    print(f"Employee Id is: {s}")
    print(f"Employee Name is: {y}")
    print(f"Employee Salary is: {p}")
    return

ed = input("Enter Employee Id: ")
ename = input("Enter Employee Name: ")
q = input("Enter Salary: ")
employee(s=ed,y=ename,p=q)

Enter Employee Id: W345
Enter Employee Name: Prasanna
Enter Salary: 45000
Employee Id is: W345
Employee Name is: Prasanna
Employee Salary is: 45000

In [14]:
def employee(y,s,p):
    print(f"Employee Id is: {s}")
    print(f"Employee Name is: {y}")
    print(f"Employee Salary is: {p}")
    return

ed = input("Enter Employee Id: ")
ename = input("Enter Employee Name: ")
q = input("Enter Salary: ")
employee(s=ed,y=ename,z=q)

Enter Employee Id: Y45
Enter Employee Name: Eswar
Enter Salary: 12000

TypeError: employee() got an unexpected keyword argument 'z'

In [15]:
def employee(y,s,p=15000):
    print(f"Employee Id is: {s}")
    print(f"Employee Name is: {y}")
    print(f"Employee Salary is: {p}")
    return

ed = input("Enter Employee Id: ")
ename = input("Enter Employee Name: ")
employee(s=ed,y=ename)

Enter Employee Id: B3456
Enter Employee Name: Bharath
Employee Id is: B3456
Employee Name is: Bharath
Employee Salary is: 15000

In [16]:
def employee(y="Jagadeesh",s,p):
    print(f"Employee Id is: {s}")
    print(f"Employee Name is: {y}")
    print(f"Employee Salary is: {p}")
    return

ed = input("Enter Employee Id: ")
q = input("Enter Salary: ")
employee(s=ed,p=q)

SyntaxError: non-default argument follows default argument (1760983998.py, line 1)

In [17]:
# Variable Length Argument

def qy(z):
    print(z,type(z))
    return

qy(45,78,'Bharath','45.000',False,78)

TypeError: qy() takes 1 positional argument but 6 were given

In [18]:
def qy(*z):
    print(z,type(z))
    return

qy(45,78,'Bharath','45.000',False,78)

(45, 78, 'Bharath', '45.000', False, 78) <class 'tuple'>

In [19]:
def qy(v,*z):
    print(v,type(v))
    print(z,type(z))
    return

qy(45,78,'Bharath','45.000',False,78)

45 <class 'int'>
(78, 'Bharath', '45.000', False, 78) <class 'tuple'>

In [20]:
def qy(v,*z,**w):
    print(v,type(v))
    print(z,type(z))
    print(w,type(w))
    return

qy(45,78,'Bharath','45.000',False,78,sno=4,sname='Jyothi',syear='2')

45 <class 'int'>
(78, 'Bharath', '45.000', False, 78) <class 'tuple'>
{'sno': 4, 'sname': 'Jyothi', 'syear': '2'} <class 'dict'>

In [21]:
def qy(v,*z,**w):
    print(v,type(v))
    print(z,type(z))
    print(w,type(w))
    return

qy(45,sno=4,78,'Bharath','45.000',False,78,sname='Jyothi',syear='2')

SyntaxError: positional argument follows keyword argument (1926118003.py, line 7)

## Data Structures:
    - To store the data and organize the data in ordered or unordered format
    - List
    - Tuple
    - Set
    - Dictionary
    - String

## List:
    - It can be represented as []
    - It stores all data type values
    - It stores data in ordered format and seperated with ,
    - It allows duplicate values
    - Slicing can be done because of index
    - It can be typecasted as list()
    - It can changes a value

In [22]:
h = [23,45.42121,'Kalyan',23,5+6j,False]
print(h,type(h))

[23, 45.42121, 'Kalyan', 23, (5+6j), False] <class 'list'>

In [23]:
for i in range(len(h)):
    print(i,type(i))

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [25]:
for i in range(len(h)):
    print(h[i],type(h[i]))

23 <class 'int'>
45.42121 <class 'float'>
Kalyan <class 'str'>
23 <class 'int'>
(5+6j) <class 'complex'>
False <class 'bool'>

In [26]:
for i in h:
    print(i,type(i))

23 <class 'int'>
45.42121 <class 'float'>
Kalyan <class 'str'>
23 <class 'int'>
(5+6j) <class 'complex'>
False <class 'bool'>

In [27]:
z = [12,45,7,8,9,6,1,1,2,0.2,'Harish',5+67j,4,89,5,True]
print(z)

[12, 45, 7, 8, 9, 6, 1, 1, 2, 0.2, 'Harish', (5+67j), 4, 89, 5, True]

In [28]:
print(z)
print(z[:])
print(z[::])

[12, 45, 7, 8, 9, 6, 1, 1, 2, 0.2, 'Harish', (5+67j), 4, 89, 5, True]
[12, 45, 7, 8, 9, 6, 1, 1, 2, 0.2, 'Harish', (5+67j), 4, 89, 5, True]
[12, 45, 7, 8, 9, 6, 1, 1, 2, 0.2, 'Harish', (5+67j), 4, 89, 5, True]

In [29]:
print(z)
print(z[8])
print(z[-3])

[12, 45, 7, 8, 9, 6, 1, 1, 2, 0.2, 'Harish', (5+67j), 4, 89, 5, True]
2
89

In [35]:
print(z)
print(z[3:])
print(z[:6])
print(z[2:8])
print(z[-5:])
print(z[:-6])
print(z[-9:-3])

[12, 45, 7, 8, 9, 6, 1, 1, 2, 0.2, 'Harish', (5+67j), 4, 89, 5, True]
[8, 9, 6, 1, 1, 2, 0.2, 'Harish', (5+67j), 4, 89, 5, True]
[12, 45, 7, 8, 9, 6]
[7, 8, 9, 6, 1, 1]
[(5+67j), 4, 89, 5, True]
[12, 45, 7, 8, 9, 6, 1, 1, 2, 0.2]
[1, 2, 0.2, 'Harish', (5+67j), 4]

In [44]:
print(z)
print(z[3::])
print(z[:7:])
print(z[3:9:])
print(z[-5:12:])
print(z[9:-5:])
print(z[3:12:3])
print(z[::-1])

[12, 45, 7, 8, 9, 6, 1, 1, 2, 0.2, 'Harish', (5+67j), 4, 89, 5, True]
[8, 9, 6, 1, 1, 2, 0.2, 'Harish', (5+67j), 4, 89, 5, True]
[12, 45, 7, 8, 9, 6, 1]
[8, 9, 6, 1, 1, 2]
[(5+67j)]
[0.2, 'Harish']
[8, 1, 0.2]
[True, 5, 89, 4, (5+67j), 'Harish', 0.2, 2, 1, 1, 6, 9, 8, 7, 45, 12]

In [45]:
print(list.__doc__)

Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [46]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [47]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [48]:
print(list.append.__doc__)

Append object to the end of the list.

In [49]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [50]:
w = [45]
print(w)

[45]

In [51]:
print(w)
w.append(34)
print(w)

[45]
[45, 34]

In [52]:
print(w)
w.append(12,56)
print(w)

[45, 34]

TypeError: list.append() takes exactly one argument (2 given)

In [53]:
print(w)
w.append([1,6,8])
print(w)

[45, 34]
[45, 34, [1, 6, 8]]

In [54]:
print(w)
w.extend(6)
print(w)

[45, 34, [1, 6, 8]]

TypeError: 'int' object is not iterable

In [55]:
print(w)
w.extend([3,7,8])
print(w)

[45, 34, [1, 6, 8]]
[45, 34, [1, 6, 8], 3, 7, 8]

In [56]:
print(w)
w.insert(0,600)
print(w)

[45, 34, [1, 6, 8], 3, 7, 8]
[600, 45, 34, [1, 6, 8], 3, 7, 8]

In [57]:
print(w)
q = w.copy()
print(q)
print(w)

[600, 45, 34, [1, 6, 8], 3, 7, 8]
[600, 45, 34, [1, 6, 8], 3, 7, 8]
[600, 45, 34, [1, 6, 8], 3, 7, 8]

In [58]:
print(w)
print(q)
q.insert(0,250)
print(w)
print(q)

[600, 45, 34, [1, 6, 8], 3, 7, 8]
[600, 45, 34, [1, 6, 8], 3, 7, 8]
[600, 45, 34, [1, 6, 8], 3, 7, 8]
[250, 600, 45, 34, [1, 6, 8], 3, 7, 8]

In [59]:
print(w)
w.pop()
print(w)

[600, 45, 34, [1, 6, 8], 3, 7, 8]
[600, 45, 34, [1, 6, 8], 3, 7]

In [60]:
print(w)
w.pop(0)
print(w)

[600, 45, 34, [1, 6, 8], 3, 7]
[45, 34, [1, 6, 8], 3, 7]

In [80]:
b = [45,89,5]
print(b)
print(b.index(45))
print(b.index(-300))

[45, 89, 5]
0

ValueError: -300 is not in list

In [61]:
print(w)
w.pop(-500)
print(w)

[45, 34, [1, 6, 8], 3, 7]

IndexError: pop index out of range

In [62]:
print(w)
w.remove()
print(w)

[45, 34, [1, 6, 8], 3, 7]

TypeError: list.remove() takes exactly one argument (0 given)

In [63]:
print(w)
w.remove(3)
print(w)

[45, 34, [1, 6, 8], 3, 7]
[45, 34, [1, 6, 8], 7]

In [64]:
print(w)
w.remove(-10)
print(w)

[45, 34, [1, 6, 8], 7]

ValueError: list.remove(x): x not in list

In [65]:
print(w)
print(w.count(7))
print(w.count(-5))

[45, 34, [1, 6, 8], 7]
1
0

In [66]:
y = [45,8,963,5,2,15]
print(y)
y.sort()
print(y)

[45, 8, 963, 5, 2, 15]
[2, 5, 8, 15, 45, 963]

In [67]:
a = [12,5,26,23,785]
print(a)
a.sort(reverse=True)
print(a)

[12, 5, 26, 23, 785]
[785, 26, 23, 12, 5]

In [69]:
w = [1,45,6,8,9,56]
print(w)
w.reverse()
print(w)

[1, 45, 6, 8, 9, 56]
[56, 9, 8, 6, 45, 1]

In [70]:
print(w)
w.clear()
print(w)

[56, 9, 8, 6, 45, 1]
[]

In [71]:
v = [45,889,23.0]
print(v)
del v
print(v)

[45, 889, 23.0]

NameError: name 'v' is not defined

## Tuple:
    - It can be represented as ()
    - It stores data in ordered format with seperation of , value
    - It stores all data type values
    - It can be typecasted as tuple()
    - It can't changes a value
    - It allows duplicate values
    - Slicing can be done because of index

In [72]:
k = (1,45.01,'Kiran',False,5+34j,None,1,1)
print(k,type(k))

(1, 45.01, 'Kiran', False, (5+34j), None, 1, 1) <class 'tuple'>

In [73]:
for i in range(len(k)):
    print(i,type(i))

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>

In [74]:
for i in range(len(k)):
    print(k[i],type(k[i]))

1 <class 'int'>
45.01 <class 'float'>
Kiran <class 'str'>
False <class 'bool'>
(5+34j) <class 'complex'>
None <class 'NoneType'>
1 <class 'int'>
1 <class 'int'>

In [75]:
for i in k:
    print(i,type(i))

1 <class 'int'>
45.01 <class 'float'>
Kiran <class 'str'>
False <class 'bool'>
(5+34j) <class 'complex'>
None <class 'NoneType'>
1 <class 'int'>
1 <class 'int'>

In [76]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [81]:
y = (45,8,9,6,56,23,8)
print(y)
print(y.count(8))
print(y.count(-200))

(45, 8, 9, 6, 56, 23, 8)
2
0

In [82]:
print(y)
print(y.index(9))
print(y.index(-3))

(45, 8, 9, 6, 56, 23, 8)
2

ValueError: tuple.index(x): x not in tuple

## Dictionary:
    - It can be represented as {} with empty {} 
    - It stores all data type values
    - It stores data in ordered format with key and value pairs
    - It can be typecasted as dict()
    - Slicing can be done for only values
    - It can changes a value
    Syntax:
        k = {(key,value),(keys,values[],(),{})}

In [84]:
y = {'sno':4,'sname':['Rajesh','Kumar','Rajesh'],'sal':25000}
print(y,type(y))

{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000} <class 'dict'>

In [85]:
for i in range(len(y)):
    print(y[i],type(y[i]))

KeyError: 0

In [86]:
for i in y:
    print(i,type(i))

sno <class 'str'>
sname <class 'str'>
sal <class 'str'>

In [91]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [92]:
print(y)
print(y.keys())
print(y.values())

{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000}
dict_keys(['sno', 'sname', 'sal'])
dict_values([4, ['Rajesh', 'Kumar', 'Rajesh'], 25000])

In [93]:
print(y.items())

dict_items([('sno', 4), ('sname', ['Rajesh', 'Kumar', 'Rajesh']), ('sal', 25000)])

In [94]:
for i in y.items():
    print(i,type(i))

('sno', 4) <class 'tuple'>
('sname', ['Rajesh', 'Kumar', 'Rajesh']) <class 'tuple'>
('sal', 25000) <class 'tuple'>

In [96]:
print(y.get('sno'))
print(y['sname'])

4
['Rajesh', 'Kumar', 'Rajesh']

In [97]:
print(y)
y.setdefault('Addresss')
print(y)

{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000}
{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Addresss': None}

In [102]:
print(y)
y.setdefault('Age',20)
print(y)

{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Addresss': None}
{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Addresss': None, 'Age': 20}

In [105]:
print(y)
y.update({'Address':'PTR'})
print(y)

{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Addresss': None, 'Age': 20, 'Address': 'GNTR'}
{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Addresss': None, 'Age': 20, 'Address': 'PTR'}

In [106]:
print(y)
y['Address'] = 'VJWD'
print(y)

{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Addresss': None, 'Age': 20, 'Address': 'PTR'}
{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Addresss': None, 'Age': 20, 'Address': 'VJWD'}

In [107]:
print(y)
y.pop()
print(y)

{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Addresss': None, 'Age': 20, 'Address': 'VJWD'}

TypeError: pop expected at least 1 argument, got 0

In [108]:
print(y)
y.pop('Addresss')
print(y)

{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Addresss': None, 'Age': 20, 'Address': 'VJWD'}
{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Age': 20, 'Address': 'VJWD'}

In [109]:
print(y)
y.popitem()
print(y)

{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Age': 20, 'Address': 'VJWD'}
{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Age': 20}

In [110]:
print(y)
y.popitem('sal')
print(y)

{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Age': 20}

TypeError: dict.popitem() takes no arguments (1 given)

In [111]:
print(y)
g = y.copy()
print(y)
print(g)

{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Age': 20}
{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Age': 20}
{'sno': 4, 'sname': ['Rajesh', 'Kumar', 'Rajesh'], 'sal': 25000, 'Age': 20}

In [112]:
print(id(y))
print(id(g))

3028833407360
3028832519040

In [113]:
p = [1,2,3]
w = {}
print(w.fromkeys(p))

{1: None, 2: None, 3: None}

In [116]:
z = 45
q = [12,5]
g = {}
g = g.fromkeys(q,z)
print(g)

{12: 45, 5: 45}

In [117]:
print(g)
g.clear()
print(g)

{12: 45, 5: 45}
{}

In [118]:
j = {'sno':1}
print(j)
del j
print(j)

{'sno': 1}

NameError: name 'j' is not defined

## Set:
    - It can be represented with {} and stores some value in it
    - It stores all data type values
    - It stores data in unordered format
    - It can changes a value
    - It doesnt allow duplicate values
    - Slicing can't be done becuase of no index
    - It can be typecasted as set()

In [119]:
h = {}
k = {'8'}
print(h,type(h))
print(k,type(k))

{} <class 'dict'>
{'8'} <class 'set'>

In [120]:
z = {45,20.12,False,None,7+67j,'Ganesh',45}
print(z,type(z))
z

{False, None, (7+67j), 20.12, 'Ganesh', 45} <class 'set'>

{(7+67j), 20.12, 45, False, 'Ganesh', None}

In [121]:
for i in range(len(z)):
    print(i,type(i))

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [122]:
for i in range(len(z)):
    print(z[i],type(z[i]))

TypeError: 'set' object is not subscriptable

In [123]:
for i in z:
    print(i,type(i))

False <class 'bool'>
None <class 'NoneType'>
(7+67j) <class 'complex'>
20.12 <class 'float'>
Ganesh <class 'str'>
45 <class 'int'>

In [124]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [125]:
a = {45,8,9,6}
b = {1,8,9,250,369}
print(a)
print(b)

{8, 9, 45, 6}
{1, 369, 8, 9, 250}

In [126]:
print(a)
print(b)
print(a.union(b))
print(b.union(a))
print(a)
print(b)

{8, 9, 45, 6}
{1, 369, 8, 9, 250}
{1, 6, 8, 9, 45, 369, 250}
{1, 6, 8, 9, 45, 369, 250}
{8, 9, 45, 6}
{1, 369, 8, 9, 250}

In [127]:
print(a)
print(b)
print(a.intersection(b))
print(b.intersection(a))
print(a)
print(b)

{8, 9, 45, 6}
{1, 369, 8, 9, 250}
{8, 9}
{8, 9}
{8, 9, 45, 6}
{1, 369, 8, 9, 250}

In [128]:
print(a)
print(b)
print(a.difference(b))
print(b.difference(a))
print(a)
print(b)

{8, 9, 45, 6}
{1, 369, 8, 9, 250}
{45, 6}
{1, 250, 369}
{8, 9, 45, 6}
{1, 369, 8, 9, 250}

In [129]:
print(a)
print(b)
print(a.symmetric_difference(b))
print(b.symmetric_difference(a))
print(a)
print(b)

{8, 9, 45, 6}
{1, 369, 8, 9, 250}
{1, 369, 6, 250, 45}
{1, 6, 45, 369, 250}
{8, 9, 45, 6}
{1, 369, 8, 9, 250}

In [130]:
y = {4,23}
print(y)
y.add(56)
print(y)

{4, 23}
{56, 4, 23}

In [131]:
print(y)
y.add(58,23)
print(y)

{56, 4, 23}

TypeError: set.add() takes exactly one argument (2 given)

In [132]:
print(y)
y.add([15,9])
print(y)

{56, 4, 23}

TypeError: unhashable type: 'list'

In [133]:
print(y)
y.add((3,6,7))
print(y)

{56, 4, 23}
{56, 4, (3, 6, 7), 23}

In [134]:
print(y)
y.add({1,56,320,125})
print(y)

{56, 4, (3, 6, 7), 23}

TypeError: unhashable type: 'set'

In [135]:
p = {12}
print(p)
p.update(35)
print(p)

{12}

TypeError: 'int' object is not iterable

In [136]:
print(p)
p.update((1,2,9,6))
print(p)

{12}
{1, 2, 6, 9, 12}

In [137]:
print(p)
p.discard(9)
print(p)

{1, 2, 6, 9, 12}
{1, 2, 6, 12}

In [138]:
print(p)
p.pop()
print(p)

{1, 2, 6, 12}
{2, 6, 12}

In [139]:
print(p)
p.pop(6)
print(p)

{2, 6, 12}

TypeError: set.pop() takes no arguments (1 given)

In [141]:
s = {12,8,9,6}
q = {23,5,6,7}
print(s)
print(q)
s.intersection_update(q)
print(s)
print(q)

{8, 9, 12, 6}
{23, 5, 6, 7}
{6}
{23, 5, 6, 7}

In [142]:
k = {1,89,564,2}
z = {250,564,23,1}
print(k)
print(z)
z.difference_update(k)
print(k)
print(z)

{89, 2, 564, 1}
{1, 250, 564, 23}
{89, 2, 564, 1}
{23, 250}

In [143]:
c = {12,8,5}
d = {12,56,963}
print(c)
print(d)
c.symmetric_difference_update(d)
print(c)
print(d)

{8, 12, 5}
{56, 963, 12}
{963, 5, 8, 56}
{56, 963, 12}

## String:
    - Enclosed with ' or "

In [144]:
d = "This is an Example"
print(d,type(d))

This is an Example <class 'str'>

In [145]:
for i in range(len(d)):
    print(i,type(i))

0 <class 'int'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
10 <class 'int'>
11 <class 'int'>
12 <class 'int'>
13 <class 'int'>
14 <class 'int'>
15 <class 'int'>
16 <class 'int'>
17 <class 'int'>

In [146]:
for i in range(len(d)):
    print(d[i],type(d[i]))

T <class 'str'>
h <class 'str'>
i <class 'str'>
s <class 'str'>
  <class 'str'>
i <class 'str'>
s <class 'str'>
  <class 'str'>
a <class 'str'>
n <class 'str'>
  <class 'str'>
E <class 'str'>
x <class 'str'>
a <class 'str'>
m <class 'str'>
p <class 'str'>
l <class 'str'>
e <class 'str'>

In [147]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [148]:
k = " This IS an ExamPle"
print(k.title())
print(k.swapcase())
print(k.capitalize())
print(k.casefold())
print(k.upper())
print(k.lower())

 This Is An Example
 tHIS is AN eXAMpLE
 this is an example
 this is an example
 THIS IS AN EXAMPLE
 this is an example

In [149]:
b = "  Sample Example "
print(b.strip())
print(b.rstrip())
print(b.lstrip())

Sample Example
  Sample Example
Sample Example

In [151]:
y = "   Sample Example for Just "
print(y.rjust(50))
print(y.ljust(50))
print(y.center(50))
print(y.zfill(50))

                          Sample Example for Just
   Sample Example for Just
              Sample Example for Just
00000000000000000000000   Sample Example for Just

In [152]:
h = "Sample Example for split"
print(h)
print(h.split())
print(h.split('e'))

Sample Example for split
['Sample', 'Example', 'for', 'split']
['Sampl', ' Exampl', ' for split']

In [153]:
n = input().split()
print(n,type(n))

3 4 5 2
['3', '4', '5', '2'] <class 'list'>

In [154]:
n = input().split(',')
print(n,type(n))

10,56,89
['10', '56', '89'] <class 'list'>

In [157]:
z = "Sample for Index"
print(z)
print(z.index('e'))
print(z.rindex('e'))
print(z.find('f'))
print(z.rfind('e'))

Sample for Index
5
14
7
14

In [158]:
print(z.rindex('z'))

ValueError: substring not found

In [159]:
print(z.rfind('z'))

-1

In [160]:
print(z)
print(z.count('e'))
print(z.count('q'))

Sample for Index
2
0

In [161]:
print(z)
print(z.replace('S','W'))
print(z)

Sample for Index
Wample for Index
Sample for Index

In [162]:
m = "Sample input"
v = "-".join(m)
print(v)

S-a-m-p-l-e- -i-n-p-u-t